{{#get "posts" limit="5" include="tags,authors"}}
{{#match posts.length ">" 0}}
    <section class="container mx-auto">
        <div class="flex justify-between items-center mb-10">
            <h2 class="flex items-center space-x-2">
                <span>
                    {{> "icons/union"}}
                </span>
                <span class="uppercase text-lg font-semibold">
                    {{t "Recent Post"}}
                </span>
            </h2>
            <a href="{{@site.url}}/blog" class="flex space-x-2 items-center">
                <span class="uppercase font-semibold">{{t "view all"}}</span>
                <span>
                    {{> "icons/arrow-up-right-small"}}
                </span>
            </a>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:divide-x-[.7px] md:divide-black md:dark:divide-x-[1px] md:dark:divide-[#222] gap-x-10">
            <div class="col-span-1 flex flex-col space-y-6">
                {{#foreach posts from="1" to="3"}}
                    <div>
                        {{#if @last}}
                            {{#if feature_image}}
                                <a href="{{url}}" class="relative block mb-4">
                                    <img class="lazyload max-w-full w-full" src="{{img_url feature_image size="xxs"}}" data-src="{{img_url feature_image size="xl"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                                </a>
                            {{/if}}
                        {{/if}}
                        <div class="flex items-center mb-3 space-x-2 self-start">
                            <div class="flex space-x-2">
                                {{#if tags}}
                                    <div class="flex space-x-2">
                                        {{#foreach tags}}
                                            <a href="{{url}}" title="{{name}}" class="nw-tag dark:nw-tag-dark text-xs">
                                                <span>{{name}}</span>
                                            </a>
                                        {{/foreach}}
                                    </div>
                                {{/if}}
                                {{#unless access}}
                                    <span class="nw-tag dark:nw-tag-dark text-xs hover:bg-inherit dark:hover:bg-inherit">
                                        {{> "icons/locked"}}
                                    </span>
                                {{/unless}}
                                {{#if featured}}
                                    <span class="nw-tag dark:nw-tag-dark text-xs hover:bg-inherit dark:hover:bg-inherit">
                                        {{> "icons/featured"}}
                                    </span>
                                {{/if}}
                            </div>
                        </div>
                        {{#if title}}
                            <h2 class="text-xl font-bold uppercase line-clamp-2 hover:underline mb-3">
                                <a href="{{url}}">
                                    {{title}}
                                </a>
                            </h2>
                        {{/if}}
                        <div class="uppercase text-sm">
                            {{#primary_author}}
                                <span>{{t "by"}} <a href="{{url}}" title="{{name}}">{{name}}</a></span>
                            {{/primary_author}}
                            <span>/</span>
                            <span><time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time></span>
                        </div>
                    </div>
                {{/foreach}}
            </div>
            <div class="lg:col-span-2 md:pl-10 mt-3 md:mt-0">
                {{#foreach posts from="4" to="5"}}
                <div class="grid grid-cols-1 mb-4  lg:grid-cols-2 lg:gap-x-6">
                    {{#if feature_image}}
                    <div>
                        <a href="{{url}}" class="relative block mb-4">
                            <img class="lazyload max-w-full w-full {{#if @first}} rounded-tr-[130px] {{/if}}" src="{{img_url feature_image size="xxs"}}" data-src="{{img_url feature_image size="xl"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                        </a>
                    </div>
                    {{/if}}
                    <div>
                        <div class="flex items-center mb-3 space-x-2 self-start">
                            <div class="flex space-x-2">
                                {{#if tags}}
                                    <div class="flex space-x-2">
                                        {{#foreach tags}}
                                            <a href="{{url}}" title="{{name}}" class="nw-tag dark:nw-tag-dark text-xs">
                                                <span>{{name}}</span>
                                            </a>
                                        {{/foreach}}
                                    </div>
                                {{/if}}
                                {{#unless access}}
                                    <span class="nw-tag dark:nw-tag-dark text-xs hover:bg-inherit dark:hover:bg-inherit">
                                        {{> "icons/locked"}}
                                    </span>
                                {{/unless}}
                                {{#if featured}}
                                    <span class="nw-tag dark:nw-tag-dark text-xs hover:bg-inherit dark:hover:bg-inherit">
                                        {{> "icons/featured"}}
                                    </span>
                                {{/if}}
                            </div>
                        </div>
                        {{#if title}}
                            <h2 class="text-2xl font-bold uppercase line-clamp-2 hover:underline mb-3">
                                <a href="{{url}}">
                                    {{title}}
                                </a>
                            </h2>
                        {{/if}}
                        {{#if excerpt}}
                            <div class="mt-4 mb-3 text-sm">
                                {{excerpt}}
                            </div>
                        {{/if}}
                        <div class="uppercase text-sm">
                            {{#primary_author}}
                                <span>{{t "by"}} <a href="{{url}}" title="{{name}}">{{name}}</a></span>
                            {{/primary_author}}
                            <span>/</span>
                            <span><time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time></span>
                        </div>
                    </div>
                </div>
                {{/foreach}}
            </div>
        </div>
    </section>
{{/match}}
{{/get}}