{{!< default}}

<div class="container mx-auto">
    {{#post}}
    <div class="nw-space-t">
        {{#if title}}
            <h1 class="text-center text-6xl font-bold md:px-32">{{title}}</h1>
            {{> "divider"}}
        {{/if}}
    </div>
    {{/post}}

    <div class="grid grid-cols-1 gap-x-6 gap-y-24 sm:grid-cols-2 xl:grid-cols-3 mt-[100px]">
        {{#get "authors" limit="all" include="count.posts"}}
            {{#foreach authors}}
                <div>
                    {{#if profile_image}}
                        <div class="max-w-[300px] h-[200px] relative rounded-[200px] mx-auto mb-4">
                            <img class="nw-img lazyload rounded-[200px]" src="{{img_url profile_image size="xxs"}}" data-src="{{img_url profile_image size="xl"}}" alt="{{name}}">
                        </div>
                    {{else}}
                        <div class="trex_has_text max-w-[300px] h-[200px] relative rounded-[200px] mx-auto mb-4 border border-black dark:border-[#222] flex justify-center items-center text-5xl font-bold uppercase">
                            {{name}}
                        </div>
                    {{/if}}
                        <h3 class="text-center uppercase text-xl font-bold mb-2">
                            <a href="{{url}}" class="hover:underline">{{name}}</a>
                        </h3>
                    {{#if bio}}
                        <div class="text-center max-w-[500px] mx-auto mb-3 line-clamp-2">
                            {{bio}}
                        </div>
                    {{/if}}
                    <div class="flex justify-center items-center space-x-3">
                        <div class="flex space-x-3 text-xs underline uppercase">
                            {{#if facebook}}
                                <a href="https://facebook.com/{{facebook}}" target="_blank">
                                    {{t "Facebook"}}
                                </a>
                            {{/if}}
                            {{#if twitter}}
                                <a href="https://twitter.com/{{twitter}}" target="_blank">
                                    {{t "Twitter"}}
                                </a>
                            {{/if}}
                        </div>
                        <span class="nw-tag dark:nw-tag-dark text-xs hover:bg-inherit dark:hover:bg-inherit hover:text-inherit dark:hover:text-inherit">
                            {{plural count.posts empty="No posts" singular="% post" plural="% posts"}}
                        </span>
                    </div>
                </div>
            {{/foreach}}
        {{/get}}
    </div>
</div>