<!DOCTYPE html>
<html lang="{{@site.locale}}" dir="ltr">
<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
</head>

<body class="{{body_class}} {{{block "body_class"}}} back-to-top nw-sepia dark:bg-black dark:text-white" id="trex_body">

    {{> "header"}}

    <div class="container mx-auto">
        <div class="nw-space-t flex-col flex items-center">
            <h1 class="text-9xl font-bold leading-none">
                {{statusCode}}
            </h1>

            <div class="text-[#ababab] text-xl font-semibold">
                {{message}}
            </div>
            <a href="{{@site.url}}" class="flex space-x-2 items-center infinite-scroll-button my-16">
                <span class="uppercase font-semibold">{{t "Back to home"}}</span>
                <span>
                    <svg class="stroke-black dark:stroke-white" width="10" height="11" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 16L15 1M15 1L15 14.125M15 1L2.75 1" stroke-width="1.875"></path>
                    </svg>
                </span>
            </a>

            {{#if errorDetails}}
                <div class="max-w-full nw-content">
                    <h3>{{t "Theme errors"}}</h3>
                    <ul>
                        {{#foreach errorDetails}}
                            <li>
                                <em>{{{rule}}}</em>

                                {{#foreach failures}}
                                    <p><span>{{t "Ref:"}} {{ref}}</span></p>
                                    <p><span>{{t "Message:"}} {{message}}</span></p>
                                {{/foreach}}
                            </li>
                        {{/foreach}}
                    </ul>
                </div>
            {{/if}}

        </div>
    </div>

    {{> "footer"}}
</body>
</html>